<!doctype html>
<html>
<head>

</head>
<body>
 
<% include /navbar %>

 <h4>SignUp Here </h4>
 <h3>Hello how are you ...</h3>
<form>
	<input type="email" placeholder="email">
	<input type="password" placeholder="password">
	<input type="submit" value="Submit">
	
</form>

<% include /footer %>

</body>
</html>