

<% if(errors.length > 0 ){ %>
<p>Hey, It seems that email is already exits </p>
<% }%>


<% if(errors.length = 0 ){ %>

<p>New user successfully created! </p>
<%  }%>


<form method="post">

name:<input type="text" name="name" required>
Email:<input type="email" name="email">
Password:<input type="password" name="password" placeholder="password">
<input type="submit" value="Submit">

</form>