


<form method="post">

name:<input type="text" name="name">
Email:<input type="email" name="email">
Password:<input type="passwors" name="password" placeholder="password">
<input type="submit" value="Submit">

</form>